# Revisemos los datos

In [35]:
import os
import matplotlib.pyplot as plt
import numpy as np
import re

In [2]:
def archivos_data_frames(path_stage):
    data_frames=[]
    with os.scandir(path_stage) as ficheros:
        for fichero in ficheros:
            data_frames.append(fichero.name)
    return data_frames

def file_size(path,data_frames):
    sizes=[]
    for _ in data_frames:
        sizes.append(os.path.getsize(path+_))
    return sizes

In [22]:
def calcular_outliers(data,sd): 
    # Convertir los datos a un array de numpy 
    Q1 = np.percentile(data, 25) 
    Q3 = np.percentile(data, 75)
    IQR = Q3 - Q1 # Definir los l√≠mites para los outliers 
    lower_bound = Q1 - sd * IQR 
    upper_bound = Q3 + sd * IQR # Identificar los outliers 
    outliers = data[(data < lower_bound) | (data > upper_bound)] 
    pos=np.where((data < lower_bound) | (data > upper_bound))
    return outliers,pos

In [5]:
path_stage='C:/Users/ccollazos/Downloads/Corona/stage/'
archivos=archivos_data_frames(path_stage)

In [7]:
tamanos=np.array(file_size(path_stage,archivos))

In [27]:
out, pos=calcular_outliers(tamanos,1.5)

In [28]:
nombres=np.array(archivos)

In [33]:
nombres[pos].shape[0]/nombres.shape[0]

0.1407185628742515

In [47]:
nombres[pos]

array(['2024_10_26.csv', '2024_11_26.csv', '2024_12_1.csv',
       '2024_12_4.csv', '2024_1_24.csv', '2024_1_26.csv', '2024_1_4.csv',
       '2024_2_16.csv', '2024_2_28.csv', '2024_2_30.csv', '2024_2_31.csv',
       '2024_3_1.csv', '2024_3_24.csv', '2024_4_16.csv', '2024_4_24.csv',
       '2024_4_4.csv', '2024_4_7.csv', '2024_5_10.csv', '2024_5_8.csv',
       '2024_6_13.csv', '2024_6_17.csv', '2024_6_18.csv', '2024_6_19.csv',
       '2024_6_20.csv', '2024_6_21.csv', '2024_6_22.csv', '2024_6_23.csv',
       '2024_6_24.csv', '2024_6_25.csv', '2024_6_26.csv', '2024_6_27.csv',
       '2024_6_29.csv', '2024_6_4.csv', '2024_7_15.csv', '2024_7_16.csv',
       '2024_7_18.csv', '2024_7_24.csv', '2024_7_29.csv', '2024_7_4.csv',
       '2024_7_5.csv', '2024_7_8.csv', '2024_8_10.csv', '2024_8_2.csv',
       '2024_8_24.csv', '2024_8_8.csv', '2024_9_10.csv', '2024_9_23.csv'],
      dtype='<U14')

In [162]:
def formarar_dia(nombre_archivo):
    fecha=nombre_archivo[:-4]
    fecha=fecha.split('_')
    mes=fecha[1]
    dia=fecha[2]
    if len(mes)<2:
        mes='0'+mes
    if len(dia)<2:
        dia='0'+dia
    else:
        pass
    return fecha[0]+'-'+mes+'-'+dia

# Data Frame

In [1]:
import pandas as pd

In [2]:
archivo='C:/Users/ccollazos/Documents/Summan/ejemplo_01.csv'

In [3]:
df=pd.read_csv(archivo, index_col=['Fecha'])

In [4]:
df.index = pd.to_datetime(df.index, format='%Y-%m-%d %H:%M:%S', )

In [5]:
df.sort_index(inplace=True)

In [6]:
df.head()

,conteo,Carro,Tiempo_paro,Hora_primer_carro,id
Fecha,,,,,
2024-01-01 06:10:50,6315,48.0,0.0,06:10:50,2024_1_1.csv_06:10:50
2024-01-01 06:24:17,6316,7.0,0.0,06:10:50,2024_1_1.csv_06:10:50
2024-01-01 06:37:44,6317,37.0,0.0,06:10:50,2024_1_1.csv_06:10:50
2024-01-01 06:51:12,6318,77.0,0.0,06:10:50,2024_1_1.csv_06:10:50
2024-01-01 07:04:39,6319,82.0,0.0,06:10:50,2024_1_1.csv_06:10:50

In [7]:
df['mes']=df.index.to_period('M')

PeriodIndex(['2024-01', '2024-01', '2024-01', '2024-01', '2024-01', '2024-01',
             '2024-01', '2024-01', '2024-01', '2024-01',
             ...
             '2024-11', '2024-11', '2024-11', '2024-11', '2024-11', '2024-11',
             '2024-11', '2024-11', '2024-11', '2024-11'],
            dtype='period[M]', name='Fecha', length=35619)

In [207]:
for i in range(df.shape[0]):
    df.iloc[i,5]=formarar_dia(df.iloc[i,4][:-9])

In [208]:
df.columns

Index(['conteo', 'Carro', 'Tiempo_paro', 'Hora_primer_carro', 'id',
       'fecha_produccion'],
      dtype='object')

In [210]:
# df[['Carro','Tiempo_paro','Hora_primer_carro', 'fecha_produccion']].to_csv('Datos_Produccion_H4.csv')